<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="\logs\SuperCarga\internal.txt">

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>
	
	<targets>
		<target xsi:type="File" name="all" fileName="logs\all_${shortdate}.log"
				layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />

		<target xsi:type="File" name="app" fileName="logs\app_${shortdate}.log"
				layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />

		<target xsi:type="File" name="err" fileName="logs\err_${shortdate}.log"
				layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="all" />
		<logger name="*" minlevel="Error" writeTo="err" />
		<logger name="SuperCarga.*" minlevel="Trace" writeTo="app" />
	</rules>
</nlog>